extends layout

block content
  link(rel="stylesheet" href="day_eight/myapp/public/stylesheets/style.css")
  h1= title
  a
  p Welcome to #{title} its easy to create Rest API . You all are on home page
  p We are using pug template engine to display dynamic content in a browser
